echo -e "${pkg_import}

/**
 * TODO:
 * 
 * @author ...
 */
public class ${class_name}${extends} {
${serial_ver}
${mem_declare_codes}

	/**
	 * Construct the class.
	 */
	public ${class_name}() {
	}${methods}${mem_get_set_codes}
}
"