echo -e "
				
				<tr>
					<td><sbean:message key=\"label.${class_name}.${normal_mem}\"/></td>
					<td>
						<label>
							<shtml:radio property=\"${normal_mem}\" value=\"true\">
								<sbean:message key=\"label.yes\"/>
							</shtml:radio>
						</label>&nbsp;
						<label>
							<shtml:radio property=\"${normal_mem}\" value=\"false\">
								<sbean:message key=\"label.no\"/>
							</shtml:radio>
						</label>
					</td>
				</tr>"