echo -e "
				
				<tr>
					<td>&nbsp;</td>
					<td>
						<label>
							<shtml:checkbox property=\"${normal_mem}\">
								&nbsp;<span><sbean:message key=\"label.${class_name}.${normal_mem}\"/></span>
							</shtml:checkbox>
						</label>
					</td>
				</tr>"